@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "animation.css";

:root {
    --padding-value: 80px;
}

*{box-sizing: border-box;}

body, html {height: 100%; margin: 0; padding: 0; background-color: white !important; overflow: unset !important;}
body{line-height: 24px; font-size: 14px; font-family: Inter, system-ui, -apple-system, serif; font-weight: 400; letter-spacing: 0px;}
img {height: auto; max-width: 100%;}
a, a:focus, button:focus {outline: none;  text-decoration: none; box-shadow: unset; color: inherit}
a:hover { text-decoration: none;}
ul, li, label, span {list-style: none; padding: 0; margin: 0;}
p{padding: 0; margin: 0;}
input:focus {outline: unset; box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);}

h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; font-family: Inter, system-ui, -apple-system, serif;  font-weight: 500; color: black}

header { background: white; padding: 20px var(--padding-value); position: relative; width: 100%; top: 0; left: 0; z-index: 999; border-bottom: 1px solid black}
header nav {position: relative; display: flex; flex-direction: row; justify-content: space-between; max-width: 1550px;margin: auto;}
nav a {display: flex; align-items: center}
.logo {align-self: center}
.logo span {font-size: 1.5em; font-weight: 600; color: black}
.menu {display: flex; align-items: center}
.menu ul li{display: inline-block; padding: 0px 26px; position: relative;}
.menu ul li a{font-weight: 400; font-size: 16px; position: relative; padding: 10px 0px 30px 0px; color: black}
.btn { font-family: Inter, sans-serif; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; border: 1px solid; padding: 8px 14px; border-radius: 5px; position: relative; background: black; color:white; cursor: pointer; transition: 0.25s ease}
.btn:hover {background: white; color: black}
.btn:active {transform: scale(0.9)}

.main-page {height: 100dvh}

.account-section {position: relative; top:50px; height: 50dvh; max-width: 850px; margin: auto; padding-left: var(--padding-value); padding-right: var(--padding-value); display: flex; flex-direction: column;}
.account-title {width: 100%; border-left: 5px solid black; padding-left: 10px; font-weight: 500; font-size: 1em; margin-bottom: 20px}
.account-card {display: flex; justify-content: space-between; padding: 20px 30px; border-radius: 12px; border: 1px solid black; cursor: pointer}
.balance {font-size: 1.5em; font-weight: 700; letter-spacing: -1px}
.account-group {display: flex; flex-direction: column; gap: 30px}
.account-name {font-weight: 400; font-size: 1.1em}
.account-id {text-transform: uppercase; color: slategrey; font-size: 0.8em}
.account-info {overflow: hidden; text-overflow: ellipsis; width: min-content}

.fixed-section-buttons {position: fixed; bottom: 50px; right: 50px; display: flex; gap: 10px; align-items: center;}
.fixed-section-buttons > a {transform: translateX(100dvw); display: none}
.button-action {opacity: 0; transform: translateX(100dvw); user-select: none; z-index: -1000}
.fixed-section-buttons.active .button-action {display: flex; align-items: center; gap:10px; border: 0; padding: 12px 24px; border-radius: 24px; color: white; background: #1c1c1c;cursor:pointer; transform: translateX(0); opacity: 1; transition: 0.25s ease}
.fixed-section-buttons.active > a {transform: translateX(0dvw); display: block}
.button-menu {border: 0; padding: 15px; border-radius: 50%; color: white; background: black;cursor:pointer; transition: 0.25s ease; z-index: 1;}
.button-menu span, .button-action span {display: flex; align-items: center}
.fixed-section-buttons.active .button-action:hover, .button-menu:hover {background: rgba(28, 28, 28, 0.8)}
.fixed-section-buttons.active .button-action:focus, .button-menu:focus {color: white}

.transaction-section {position: relative; top:50px; height: 50dvh; max-width: 1250px; margin: auto; padding-left: var(--padding-value); padding-right: var(--padding-value); display: flex; flex-direction: column; user-select: none;}
.transaction-title {width: 100%; border-left: 5px solid black; padding-left: 10px; font-weight: 500; font-size: 1em; margin-bottom: 30px}

.custom-select {position: relative; max-width: 500px;padding-top: 20px; padding-bottom: 30px}

.ask-transaction-info {border-top: 1px solid slategrey;font-size: 1.2em;font-weight: 500;padding-top: 30px;}

.select {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0 16px;
    height: 79px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    justify-content: space-between;
    gap:20px;
}

.show-select {
    position: relative;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 12px;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

.select .material-symbols-outlined.show {
    transform: rotate(-180deg);
}

.custom-select-menu {
    position: absolute;
    top:110px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 12px;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

.custom-select-option {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: 0.25s ease;
    user-select: none;
}
.custom-select-option:nth-child(odd)
{
    border-bottom: 1px solid #ccc;
}

.custom-select-option:hover {
    background: black;
    color:white;
    cursor: pointer;
}

.custom-select-menu.show {
    display: block;
}

.part2 { display: flex; justify-content: space-between; gap:10px; border-top: 1px solid slategrey}
.ask-2nd-part {font-size: 1.2em;font-weight: 500;padding-top: 30px;}

input {
    border: 0;
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
    font-family: Inter, -apple-system;
}
.contain-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 16px;
    height: 79px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.5em;
    max-width: 500px;
}
input:focus{box-shadow: none; appearance: none}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirmation-section {
    background: black;
    color:white;
    padding: 20px;
    border-radius: 24px;
    text-align: center;
}
.confirmation-section p {
    display: inline-block;
}

.confirmation-section span {
    font-size: 1.2em;
    font-weight: 700;
}

.submit-button {
    display: flex;
    justify-content: center;
    padding-top:30px;
    padding-bottom:30px;
}

.submit-button button {
    border: 0;
    padding: 12px 24px;
    color:white;
    background: black;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.25s ease;
}

.submit-button button:hover {
    background: rgba(28, 28, 28, 0.8);
}

.submit-button button:active {
    transform: scale(0.9);
}
.modal-contain {
    display: none;
    position: absolute;
    width: 100%;
    padding-left: var(--padding-value);
    padding-right: var(--padding-value);
}

.modal-contain.show {
    display: block;
}

.close-modal {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.modal-button button {
    border: 0;
    background: unset;
    color:white;
    background: black;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.25s ease;
}

.modal-button button:hover {
    background: rgba(28, 28, 28, 0.8);
}

.modal-button button:active {
    transform: scale(0.9);
}

.status-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    text-align: center;
    height: 300px;
    background: white;
    border: 1px solid black;
    border-radius: 12px;
    line-height: 1.2;
    box-shadow: 0 3px 3px 3px lightslategrey;
}

.history-section {position: relative; top:50px; height: 50dvh; max-width: 1250px; margin: auto; padding-left: var(--padding-value); padding-right: var(--padding-value); display: flex; flex-direction: column; user-select: none;}
.transaction-card {display: flex; justify-content: space-between; padding:20px}
.transaction-card:nth-child(even) {background: black; color:white}
.transaction-id {text-transform: uppercase; color: slategrey; font-size: 0.8em; display: flex; align-items: center; gap: 10px; padding-top:10px;  white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
.container-transaction {padding-bottom: 30px;}
.transaction-card .balance {font-weight: 600; padding-left:5px;  white-space: nowrap}
.left-part {display: flex; gap: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.transaction-date {text-align: center; display: flex; flex-direction: column; justify-content: space-between}

.operation-section {position: relative; top:50px; height: 50dvh; max-width: 1250px; margin: auto; padding-left: var(--padding-value); padding-right: var(--padding-value); display: flex; flex-direction: column; user-select: none;}
.choice-operation {width: 100%;}
.choice-container {display: flex; width: 100%; gap: 10px; padding-top: 20px; padding-bottom: 30px}
.deposit-choice, .withdraw-choice {
    width: 100%;
    display: flex;
    padding: 0 16px;
    height: 79px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 12px;
    color:black;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease;
    border: 2px solid black;
}
.deposit-choice.active, .withdraw-choice.active {
    background: black;
    color:white
}

@media(max-width: 991px){
    :root {--padding-value: 10px;}
    nav {justify-content: center;}
    nav button {display: none;}
    .balance {font-size: 1.3em}
    .fixed-section-buttons {right: 10px;bottom: 10px;}
    .fixed-section-buttons p {display: none;}
    .part2 {display: flex;flex-direction: column;gap:0;}
    div:has(.contain-amount) > .ask-2nd-part {padding-top: 0px;}
    .status-modal {
        height: 350px;
    }
}
